.highlighted__button {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.highlighted__button > button {
  text-transform: inherit !important;
  background-color: var(--blue);
  color: white;
  width: 130px;
  height: 40px;
  top: 150px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(4, 57, 107, 0.3);
  cursor: pointer;
  position: relative;
  animation: back 500ms 1;
}

.highlighted__word {
  position: absolute;
  display: flex;
  top: 100px;
}

.highlighted__word > code {
  width: 260px;
  height: 40px;
  text-align: center;
  color: white;
}

.input__option {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 200px;
  margin-bottom: 5px;
}

.input__option > button {
  text-transform: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 130px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(4, 57, 107, 0.3);
  cursor: pointer;
  position: relative;
  animation: back 500ms 1;
  color: white;
}

.input__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  margin-bottom: 5px;
}
