.highlighted__button {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.highlighted__button > button {
  text-transform: inherit !important;
  background-color: var(--blue);
  color: white;
  width: 130px;
  height: 40px;
  top: 150px;
  margin-bottom: 5px;
}

.highlighted_word {
  position: absolute;
  display: flex;
  top: 200px;
}

.highlighted_word > code {
  width: 260px;
  height: 40px;
  text-align: center;
  color: white;
}